.box{
  min-height: 10rem;
  height: max-content;
  width: 50vw;
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
  box-shadow: 5px 8px 15px grey;
  border-top: black 4px solid;
}

.blue-btn, .red-btn, .green-btn {
  text-align: center;
  color: white;
  border-radius: 0.5rem;
  font-weight:800;
}

.blue-btn {
  background-color: blue;
  box-shadow: -5px -5px 10px darkblue;
}

.red-btn {
  background-color: red;
  box-shadow: -5px -5px 10px darkred;
}

.green-btn {
  background-color: green;
  box-shadow: -5px -5px 10px darkgreen;
}

.bad-risk {
  border-radius: 100%;
  border: 5px solid red;
}

.ok-risk {
  border-radius: 100%;
  border: 5px solid navy;
}

.good-risk {
  border-radius: 100%;
  border: 5px solid limegreen;
}

.tentative-risk {
  border-radius: 100%;
  border: 5px solid yellow;
}

.unknown-risk {
  border-radius: 100%;
  border: 5px solid black;
}

